Node-red flow.json
[{"id":"98bfa6a4.e00c68","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"52b4a645.2b1338","type":"function","z":"98bfa6a4.e00c68","name":"F1","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":370.20001220703125,"wires":[["b2bb93e3.47d32"]],"l":false},{"id":"f79c9fbe.338c5","type":"function","z":"98bfa6a4.e00c68","name":"F2","func":"\nmsg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":543,"y":369.20001220703125,"wires":[["6ae8c4ae.128bec","40b21bcb.f42f14"]],"l":false},{"id":"40b21bcb.f42f14","type":"debug","z":"98bfa6a4.e00c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":672.600058555603,"y":439.20001888275146,"wires":[],"l":false},{"id":"c877c4fe.e9be48","type":"inject","z":"98bfa6a4.e00c68","name":"","topic":"hi","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199.60000610351562,"y":256.4000015258789,"wires":[["52b4a645.2b1338"]],"l":false},{"id":"1578513c.661c5f","type":"ui_form","z":"98bfa6a4.e00c68","name":"","label":"You","group":"ab7c43c.b91d3c","order":2,"width":0,"height":0,"options":[{"label":"enter text here","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":196,"y":383.20001220703125,"wires":[["52b4a645.2b1338"]],"l":false},{"id":"292e31e9.1a671e","type":"ui_text","z":"98bfa6a4.e00c68","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"6ae8c4ae.128bec","type":"ui_text","z":"98bfa6a4.e00c68","group":"ab7c43c.b91d3c","order":3,"width":"19","height":"9","name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":676,"y":362.20001220703125,"wires":[],"l":false},{"id":"b2bb93e3.47d32","type":"watson-conversation-v1","z":"98bfa6a4.e00c68","name":"chatbot","workspaceid":"1ff26736-479b-4110-a604-5b7782ccf75e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6757bbdc-7d90-4d69-b37d-b104a24402d2","timeout":"","optout-learning":false,"x":420,"y":240,"wires":[["f79c9fbe.338c5"]]},{"id":"ab7c43c.b91d3c","type":"ui_group","z":"","name":"Default","tab":"7a3db9d0.f0e6d8","order":1,"disp":true,"width":"20","collapse":false},{"id":"7a3db9d0.f0e6d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]